<%- include ('../partials/head', { title: 'Match'}) %>

<body>
  <%- include ('../partials/header') %>
  <h2>Match</h2>
  <main id="match">
    <div
      style="
        position: absolute;
        top: 0;
        left: 0;
        background-color: green;
        font-size: 0.6rem;
        opacity: 0.5;
      "
    >
      <p>chosen recipe</p>
      <img src="<%- data.preview %>" alt="<%- data.title%>" width="100px" />
      <p><%- data.title%></p>
      <details>
        <summary>ingredients</summary>
        <ul>
          <% data.ingredients.forEach((object) => {%>
          <li>
            <input type="checkbox" id="ingrIndex" />
            <label for="ingrIndex"><%= object %></label>
          </li>
          <% })%>
        </ul>
      </details>
    </div>

    <section id="player-one">
      <h3>player 1:{name}</h3>
      <article>
        <form>
          <label for="timer">How long do you need? </label>
          <input
            type="number"
            id="timer"
            placeholder="ex. 34"
            style="width: 4rem"
            pattern="[0-9]+([\.,][0-9]+)?"
            step="0.01"
          />hours
          <button>set time</button>
        </form>
        <p><span></span> minutes</p>
      </article>
      <h3>Instructions</h3>
      <ol style="width: 300px">
        <p><%= data.instructions %></p>
      </ol>
    </section>

    <section id="player-two">
      <h3>player 2:{name}</h3>
      <article>
        <form>
          <label for="timerPlayer2">How long do you need? </label>
          <input
            type="number"
            id="timerPlayer2"
            placeholder="ex. 34"
            style="width: 4rem"
            pattern="[0-9]+([\.,][0-9]+)?"
            step="0.01"
          />hours
          <button>set time</button>
        </form>
        <p><span></span> minutes</p>
      </article>
      <h3>Instructions</h3>
      <ol style="width: 300px">
        <p><%= data.instructions %></p>
      </ol>
    </section>
  </main>
  <button>START</button>
  <!-- 3 ... 2 ... 1... GO! (emitted)
    (countdown starts ) -->

  <%- include ('../partials/footer') %>
