<%- include ('../partials/head', { title: 'Match'}) %>

<body>
  <%- include ('../partials/header') %>
  <h2>Match</h2>

  <main id="match">
    <section id="recipedata">
      <h2><%- data.title%></h2>
      <article>
        <img src="<%- data.preview %>" alt="<%- data.title%>" />

        <ul>
          <% data.ingredients.forEach((object) => {%>
          <li>
            <p><%= object %></p>
          </li>
          <% })%>
        </ul>

        <% if (data.video != ''){ %>

        <iframe
          id="ytplayer"
          type="text/html"
          width="140"
          height="360"
          src="<%- data.video%>"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <%} else {%>
        <p>
          No video unfortunately, but maybe you can found some videos
          <a
            href="https://www.youtube.com/results?search_query=<%- data.title%>"
            target="_blank"
            >here</a
          >. 🎥
        </p>
        <% } %>
      </article>
    </section>

    <button>START MATCH</button>
    <!-- 3 ... 2 ... 1... GO! (emitted)
      (countdown starts ) -->

    <section id="playerdata">
      <article id="player-one">
        <h3>player 1:{name}</h3>
        <article>
          <form>
            <label for="timer">How long do you need? </label>
            <input
              type="number"
              id="timer"
              placeholder="ex. 34"
              pattern="[0-9]+([\.,][0-9]+)?"
              step="0.01"
            />hours
            <button>set time + GO</button>
          </form>
          <p><span></span> seconds</p>
        </article>
        <h3>Instructions</h3>
        <ol class="recipe-instructions">
          <!--
            li
            <input
              type="checkbox"
              id="indexOfSentece"
              name="instructions-checklist"
            />
            <label for="indexOfSentece">  sentence  </label> 
          li-->
          <% data.instructions.forEach((sentence) => { %>
          <li>
            <p><%= sentence %></p>
          </li>
          <%}) %>
        </ol>
        <form action="">
          <button onclick="finished()">Done!</button>
        </form>

        <article id="player-two">
          <h3>player 2:{name}</h3>
          <p>Estimated time:{time}</p>
        </article>
      </article>
    </section>
  </main>

  <%- include ('../partials/footer') %>
</body>
